body{
    background-color: lightgrey;
    background-image: url(./images/Biblioteka21.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center, center;
  }

h1, h3{
    text-align: center;
    color: lightgrey;
    margin: auto;
    font-size: 30px;  
  }

h3{
   font-size: 24px;    
  }  

.forma{
    width: 385px;
    height: 300px;
    position: absolute;
    left: 900px;
    top: 350px;
    color: lightgrey;
  }

.us,.pw{
    position: absolute;
    right: 0;
}

  
.div_p{
    width: 320px;
    height: 200px;
    position: absolute;
    left: 180px;
    top: 50px;
    color: lightgrey;
    
  }
p{
    width: 320px;
    height: 200px;
    position: absolute;
    color: lightgrey;   
  }

#p1{
    left: 0px;
    top: 0px;   
  }
  
#p2{
    left: 50px;
    top: 100px;   
  }
  
#p3{
    left: 50px;
    top: 155px;   
  }
  
#p4{
    left: 110px;
    top: 200px;   
  }

#buttonEnter{
    position: absolute;
    left: 0px;
    top: 135px; 
  }
  
#buttonTransition{
    position: absolute;
    left: 160px;
    top: 135px; 
  }
  
#butForm{
    position: absolute;
    left: 15vw;
    top: 15vh;
  }  
  
#greet{
    position: absolute;
    top: 12vh;
    left: 25vw;
    width: 50vw;
  }  